*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: lightblue;
}

.header{
  text-align: center;
  margin: 50px 0;
  position: relative;
  padding-bottom: 10px;
  font-size: 2.5rem;
}

.header::after{
  content: '';
  background-color: lightblue;
  height: 4px;
  width: 75px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.review{
  background-color: #fff;
  width: 600px;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.reviewImg{
  position: relative;
}

.reviewImg img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px 0;
  z-index: 10;
  position: relative;
  object-fit: cover;
}

.rightQuote{
  position: absolute;
  font-size: 1.1rem;
  top: 20px;
  left: 38%;
  background-color: skyblue;
  padding: 7px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewImg::after{
  content: '';
  background-color: skyblue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 52%;
  top: 16px;
  transform: translateX(-50%);
}

.reviewText h3{
  letter-spacing: 1px;
  font-weight: 400;
  margin: 5px 0;
}

.review h4{
  text-transform: uppercase;
  font-weight: 400;
  color: skyblue;
  font-size: 0.9rem;
  margin: 5px 0 10px 0;
}

.review p{
  color: navy;
}

.changeReview{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.changeReview button{
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: skyblue;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.changeReview button:hover{
  color: blue;
}

.suprise{
  background-color: lightblue;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
}

.suprise:active{
  transform: scale(0.98);
}







